html, body, #root, .wrapper {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f2f3f4;
}

.footer-content {
    font-family: Roboto, sans-serif;
    border-radius: 3px;
    color: white;
    padding: .5rem 1rem;
}

.menu {
    font-family: Roboto, sans-serif;
    border-radius: 3px;
}

.loader {
    animation: spin 1s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #17a2b8;
    border-top-color: #17a2b8;
    box-sizing: border-box;
    height: 20vmin;
    left: calc(50% - 10vmin);
    position: relative;
    top: calc(50% - 10vmin);
    width: 20vmin;
    z-index: 1;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.link-button {
    cursor: pointer;
}

.btn-mySecondary {
    color: white !important;
    background-color: darkgray !important;
    border-color: darkgray !important;
}

.my-card-header {
    padding: .4rem 1rem !important;
}

.btn-mySecondary:hover{
    background-color: #858484 !important;
    border-color: #858484 !important;
}

.bg-exam-header{
    background-color: #327F8A!important;
    border-color:#327F8A!important;
}